In [125]:
import pandas as pd
import numpy as np

In [126]:
df1 = pd.read_csv("athlete_events.csv")
df2 = pd.read_csv("./txt/results_athletics.txt", sep="\t")

In [127]:
# Change names to lower case
df1["Name"] = df1["Name"].str.lower()
df2["Name"] = df2["Name"].str.lower()

In [128]:
print(df1.head(2))

   ID       Name Sex   Age  Height  Weight   Team  NOC        Games  Year  \
0   1  a dijiang   M  24.0   180.0    80.0  China  CHN  1992 Summer  1992
1   2   a lamusi   M  23.0   170.0    60.0  China  CHN  2012 Summer  2012

   Season       City       Sport                         Event Medal
0  Summer  Barcelona  Basketball   Basketball Men's Basketball   NaN
1  Summer     London        Judo  Judo Men's Extra-Lightweight   NaN

In [129]:
print(df2.head(2))

  Sex      Sport       Event City  Year   Medal  Place                   Name  \
0   M  Athletics  10000M Men  Rio  2016    Gold    1.0          mohamed farah
1   M  Athletics  10000M Men  Rio  2016  Silver    2.0  paul kipngetich tanui

   NOC    Result
0  GBR  27:05.17
1  KEN  27:05.64

In [137]:
# Key Characteristics
# 1.
k = "Sex"
temp1 = df1[k].unique()
temp2 = df2[k].unique()
temp1.sort()
temp2.sort()
print(k)
print(temp1)
print(temp2)
# 2.
print()
k = "Sport"
temp1 = df1[k].unique()
temp2 = df2[k].unique()
temp1.sort()
temp2.sort()
print(k)
print(temp1)
print(temp2)
# 3.
print()
k = "Event"
print(k + "(HEAD)")
temp1 = df1[df1["Sport"] == "Athletics"][k].unique()
temp2 = df2[df2["Sport"] == "Athletics"][k].unique()
temp1.sort()
temp2.sort()
print(temp1[:10])
print(temp2[:10])
# 4.
print()
k = "City"
temp1 = df1[k].unique()
temp2 = df2[k].unique()
temp1.sort()
temp2.sort()
print(k)
print(temp1)
print(temp2)
# 5.
print()
k = "Year"
temp1 = df1[k].unique()
temp2 = df2[k].unique()
temp1.sort()
temp2.sort()
print(k)
print(temp1)
print(temp2)
# 6.
print()
k = "Medal"
print(k)
print(df1[k].unique())
print(df2[k].unique())
# 8.
print()
k = "Name"
print(k + "(HEAD)")
temp1 = df1[k].unique()
temp2 = df2[k].unique()
temp1.sort()
temp2.sort()
print(temp1[:10])
print(temp2[:10])
# 9.
print()
k = "NOC"
print(k)
print(df1[k].unique())
print(df2[k].unique())

Sex
['F' 'M']
['F' 'M']

Sport
['Aeronautics' 'Alpine Skiing' 'Alpinism' 'Archery' 'Art Competitions'
 'Athletics' 'Badminton' 'Baseball' 'Basketball' 'Basque Pelota'
 'Beach Volleyball' 'Biathlon' 'Bobsleigh' 'Boxing' 'Canoeing' 'Cricket'
 'Croquet' 'Cross Country Skiing' 'Curling' 'Cycling' 'Diving'
 'Equestrianism' 'Fencing' 'Figure Skating' 'Football' 'Freestyle Skiing'
 'Golf' 'Gymnastics' 'Handball' 'Hockey' 'Ice Hockey' 'Jeu De Paume' 'Judo'
 'Lacrosse' 'Luge' 'Military Ski Patrol' 'Modern Pentathlon' 'Motorboating'
 'Nordic Combined' 'Polo' 'Racquets' 'Rhythmic Gymnastics' 'Roque' 'Rowing'
 'Rugby' 'Rugby Sevens' 'Sailing' 'Shooting' 'Short Track Speed Skating'
 'Skeleton' 'Ski Jumping' 'Snowboarding' 'Softball' 'Speed Skating'
 'Swimming' 'Synchronized Swimming' 'Table Tennis' 'Taekwondo' 'Tennis'
 'Trampolining' 'Triathlon' 'Tug-Of-War' 'Volleyball' 'Water Polo'
 'Weightlifting' 'Wrestling']
['Athletics']

Event(HEAD)
["Athletics Men's 1,500 metres" "Athletics Men's 1,500 metres Walk"
 "Athletics Men's 1,600 metres Medley Relay"
 "Athletics Men's 10 kilometres Walk" "Athletics Men's 10 mile Walk"
 "Athletics Men's 10,000 metres" "Athletics Men's 100 metres"
 "Athletics Men's 110 metres Hurdles"
 "Athletics Men's 2,500 metres Steeplechase"
 "Athletics Men's 2,590 metres Steeplechase"]
['10000M Men' '10000M Women' '100M Hurdles Women' '100M Men' '100M Women'
 '110M Hurdles Men' '1500M Men' '1500M Women' '200M Men' '200M Women']

City
['Albertville' 'Amsterdam' 'Antwerpen' 'Athina' 'Atlanta' 'Barcelona'
 'Beijing' 'Berlin' 'Calgary' 'Chamonix' "Cortina d'Ampezzo"
 'Garmisch-Partenkirchen' 'Grenoble' 'Helsinki' 'Innsbruck' 'Lake Placid'
 'Lillehammer' 'London' 'Los Angeles' 'Melbourne' 'Mexico City' 'Montreal'
 'Moskva' 'Munich' 'Nagano' 'Oslo' 'Paris' 'Rio de Janeiro' 'Roma'
 'Salt Lake City' 'Sankt Moritz' 'Sapporo' 'Sarajevo' 'Seoul' 'Sochi'
 'Squaw Valley' 'St. Louis' 'Stockholm' 'Sydney' 'Tokyo' 'Torino'
 'Vancouver']
['Amsterdam' 'Antwerp' 'Athens' 'Atlanta' 'Barcelona' 'Beijing' 'Berlin'
 'Helsinki' 'London' 'Los Angeles' 'Melbourne / Stockholm' 'Mexico'
 'Montreal' 'Moscow' 'Munich' 'Paris' 'Rio' 'Rome' 'Seoul' 'St Louis'
 'Stockholm' 'Sydney' 'Tokyo']

Year
[1896 1900 1904 1906 1908 1912 1920 1924 1928 1932 1936 1948 1952 1956 1960
 1964 1968 1972 1976 1980 1984 1988 1992 1994 1996 1998 2000 2002 2004 2006
 2008 2010 2012 2014 2016]
[1896 1900 1904 1908 1912 1920 1924 1928 1932 1936 1948 1952 1956 1960 1964
 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016]

Medal
[nan 'Gold' 'Bronze' 'Silver']
['Gold' 'Silver' 'Bronze' nan]

Name(HEAD)
['  gabrielle marie "gabby" adcock (white-)'
 ' eleonora margarida josephina scmitt' ' jean hauptmanns'
 ' luis ngel fernando de los santos grossi' ' th anh' ' th ngn thng'
 ' tin tun' 'a dijiang' 'a lamusi' 'a. aanantha sambu mayavo']
['-' 'a baser wasiqi' 'a jesus garcia' 'a. abrahams' 'a. cocca'
 'a. thibeau' 'a. wyatt' 'a.b. mole' 'aadam khamis' 'aarik wilson']

NOC
['CHN' 'DEN' 'NED' 'USA' 'FIN' 'NOR' 'ROU' 'EST' 'FRA' 'MAR' 'ESP' 'EGY'
 'IRI' 'BUL' 'ITA' 'CHA' 'AZE' 'SUD' 'RUS' 'ARG' 'CUB' 'BLR' 'GRE' 'CMR'
 'TUR' 'CHI' 'MEX' 'URS' 'NCA' 'HUN' 'NGR' 'ALG' 'KUW' 'BRN' 'PAK' 'IRQ'
 'UAR' 'LIB' 'QAT' 'MAS' 'GER' 'CAN' 'IRL' 'AUS' 'RSA' 'ERI' 'TAN' 'JOR'
 'TUN' 'LBA' 'BEL' 'DJI' 'PLE' 'COM' 'KAZ' 'BRU' 'IND' 'KSA' 'SYR' 'MDV'
 'ETH' 'UAE' 'YAR' 'INA' 'PHI' 'SGP' 'UZB' 'KGZ' 'TJK' 'EUN' 'JPN' 'CGO'
 'SUI' 'BRA' 'FRG' 'GDR' 'MON' 'ISR' 'URU' 'SWE' 'ISV' 'SRI' 'ARM' 'CIV'
 'KEN' 'BEN' 'UKR' 'GBR' 'GHA' 'SOM' 'LAT' 'NIG' 'MLI' 'AFG' 'POL' 'CRC'
 'PAN' 'GEO' 'SLO' 'CRO' 'GUY' 'NZL' 'POR' 'PAR' 'ANG' 'VEN' 'COL' 'BAN'
 'PER' 'ESA' 'PUR' 'UGA' 'HON' 'ECU' 'TKM' 'MRI' 'SEY' 'TCH' 'LUX' 'MTN'
 'CZE' 'SKN' 'TTO' 'DOM' 'VIN' 'JAM' 'LBR' 'SUR' 'NEP' 'MGL' 'AUT' 'PLW'
 'LTU' 'TOG' 'NAM' 'AHO' 'ISL' 'ASA' 'SAM' 'RWA' 'DMA' 'HAI' 'MLT' 'CYP'
 'GUI' 'BIZ' 'YMD' 'KOR' 'THA' 'BER' 'ANZ' 'SCG' 'SLE' 'PNG' 'YEM' 'IOA'
 'OMA' 'FIJ' 'VAN' 'MDA' 'YUG' 'BAH' 'GUA' 'SRB' 'IVB' 'MOZ' 'CAF' 'MAD'
 'MAL' 'BIH' 'GUM' 'CAY' 'SVK' 'BAR' 'GBS' 'TLS' 'COD' 'GAB' 'SMR' 'LAO'
 'BOT' 'ROT' 'CAM' 'PRK' 'SOL' 'SEN' 'CPV' 'CRT' 'GEQ' 'BOL' 'SAA' 'AND'
 'ANT' 'ZIM' 'GRN' 'HKG' 'LCA' 'FSM' 'MYA' 'MAW' 'ZAM' 'RHO' 'TPE' 'STP'
 'MKD' 'BOH' 'TGA' 'LIE' 'MNE' 'GAM' 'COK' 'ALB' 'WIF' 'SWZ' 'BUR' 'NBO'
 'BDI' 'ARU' 'NRU' 'VNM' 'VIE' 'BHU' 'MHL' 'KIR' 'UNK' 'TUV' 'NFL' 'KOS'
 'SSD' 'LES']
['GBR' 'KEN' 'ETH' 'USA' 'UGA' 'ERI' 'BRN' 'NZL' 'TUR' 'AUS' 'JPN' 'RSA'
 'BEL' 'PER' 'BDI' 'CAN' 'QAT' 'TAN' 'MAR' 'ESP' 'RWA' 'IND' 'AUT' 'MEX'
 'RUS' 'POR' 'ZIM' 'ALG' 'ITA' 'HUN' 'FRA' 'ARG' 'NOR' 'FRG' 'IRL' 'SUD'
 'FIN' 'ROU' 'NED' 'TUN' 'URS' 'YUG' 'COL' 'GDR' 'CRC' 'PHI' 'EUA' 'POL'
 'RHO' 'TCH' 'SWE' 'CHI' 'DEN' 'ISL' 'PAK' 'GUA' 'VIE' 'GER' 'LAT' 'SUI'
 'GRE' 'EST' 'KSA' 'UKR' 'ECU' 'BUL' 'SRI' 'BIR' 'CHN' 'TTO' 'BRA' 'JAM'
 'CIV' 'AHO' 'SKN' 'BAH' 'NGR' 'ANT' 'GHA' 'SLO' 'BAR' 'CUB' 'INA' 'HON'
 'CAF' 'GAM' 'CZE' 'OMA' 'AZE' 'GBS' 'SUR' 'COM' 'HKG' 'BUR' 'MON' 'SGP'
 'VAN' 'GAB' 'VIN' 'SEY' 'CGO' 'FSM' 'BAN' 'SOL' 'MDV' 'CHA' 'TGA' 'MHL'
 'KIR' 'PLW' 'COK' 'AFG' 'TUV' 'LAO' 'GEQ' 'ASA' 'NAM' 'PAN' 'MAD' 'LUX'
 'ZAM' 'CAY' 'EGY' 'LTU' 'PUR' 'GUY' 'IRI' 'MRI' 'BOL' 'GRN' 'CMR' 'MLT'
 'NEP' 'IVB' 'STP' 'ANG' 'KOR' 'CYP' 'HAI' 'GEO' 'BLR' 'UZB' 'CRO' 'BWI'
 'KUW' 'LBN' 'SEN' 'DJI' 'SRB' 'MAW' 'SWZ' 'EUN' 'BOH' 'VEN' 'SOM' 'YEM'
 'GUI' 'NIG' 'LBR' 'DMA' 'URU' 'UAE' 'BOT' 'BIZ' 'JOR' 'KAZ' 'SLE' 'NCA'
 'LES' 'DOM' 'MTN' 'SVK' 'MDA' 'PLE' 'SMR' 'ESA' 'MAS' 'ISV' 'SCG' 'MYA'
 'ISR' 'MLI' 'PNG' 'KGZ' 'MOZ' 'TPE' 'TOG' 'COD' 'FIJ' 'BEN' 'IOA' 'PAR'
 'MKD' 'BRU' nan 'CPV' 'PRK' 'SAM' 'GUM' 'IRQ' 'CAM' 'LIE' 'RU1' 'MNE'
 'TJK' 'ALB' 'TKM' 'SYR' 'IOP' 'LCA' 'BER' 'ARM' 'THA' 'LBA' 'SSD' 'ROT'
 'MGL' 'AND' 'TLS' 'BIH' 'ARU' 'ZAI' 'ANZ' 'RHN' 'SER']

In [138]:
# Examine Sports Key
df1_sports = df1["Sport"].unique()
df2_sports = ['Archery', 'Artistic Swimming', 'Athletics', 'Badminton', 'Baseball Softball', 'Basketball', 'Beach Volleyball', 'Boxing', 'Canoe Slalom', 'Canoe Sprint', 'Cycling Bmx', 'Cycling Mountain Bike', 'Cycling Road', 'Cycling Track', 'Diving', 'Equestrian  Dressage', 'Equestrian Eventing', 'Equestrian Jumping', 'Fencing', 'Football', 'Golf', 'Gymnastics Artistic', 'Gymnastics Rhythmic', 'Handball', 'Hockey', 'Judo', 'Karate', 'Marathon Swimming', 'Modern Pentathlon', 'Rowing', 'Rugby', 'Sailing', 'Shooting', 'Skateboarding', 'Sport Climbing', 'Surfing', 'Swimming', 'Table Tennis', 'Taekwondo', 'Tennis', 'Trampoline', 'Triathlon', 'Volleyball', 'Water Polo', 'Weightlifting', 'Wrestling Freestyle', 'Wrestling Greco Roman', 'Alpine Skiing', 'Biathlon', 'Bobsleigh', 'Cross Country Skiing', 'Curling', 'Figure Skating', 'Freestyle Skiing', 'Ice Hockey', 'Luge', 'Nordic Combined', 'Short Track', 'Skeleton', 'Ski Jumping', 'Snowboard', 'Speed Skating']
intersect = set(df1_sports) & set(df2_sports)
print("INTERSECTION")
print(intersect)
print()
print("DIFF AND IN DF1")
print(set(df1_sports) - intersect)
print()
print("DIFF AND IN DF2")
print(set(df2_sports) - intersect)

INTERSECTION
{'Curling', 'Rowing', 'Cross Country Skiing', 'Volleyball', 'Freestyle Skiing', 'Triathlon', 'Modern Pentathlon', 'Rugby', 'Handball', 'Alpine Skiing', 'Basketball', 'Tennis', 'Figure Skating', 'Archery', 'Football', 'Sailing', 'Taekwondo', 'Athletics', 'Ski Jumping', 'Luge', 'Fencing', 'Skeleton', 'Bobsleigh', 'Badminton', 'Nordic Combined', 'Ice Hockey', 'Water Polo', 'Shooting', 'Golf', 'Table Tennis', 'Hockey', 'Speed Skating', 'Diving', 'Boxing', 'Weightlifting', 'Swimming', 'Biathlon', 'Beach Volleyball', 'Judo'}

DIFF AND IN DF1
{'Baseball', 'Gymnastics', 'Art Competitions', 'Military Ski Patrol', 'Aeronautics', 'Croquet', 'Equestrianism', 'Softball', 'Synchronized Swimming', 'Rhythmic Gymnastics', 'Motorboating', 'Lacrosse', 'Short Track Speed Skating', 'Roque', 'Tug-Of-War', 'Cycling', 'Canoeing', 'Trampolining', 'Rugby Sevens', 'Racquets', 'Cricket', 'Snowboarding', 'Basque Pelota', 'Jeu De Paume', 'Wrestling', 'Alpinism', 'Polo'}

DIFF AND IN DF2
{'Canoe Slalom', 'Cycling Track', 'Skateboarding', 'Surfing', 'Gymnastics Artistic', 'Sport Climbing', 'Equestrian  Dressage', 'Karate', 'Snowboard', 'Cycling Bmx', 'Cycling Road', 'Equestrian Jumping', 'Artistic Swimming', 'Equestrian Eventing', 'Canoe Sprint', 'Marathon Swimming', 'Gymnastics Rhythmic', 'Wrestling Freestyle', 'Wrestling Greco Roman', 'Baseball Softball', 'Short Track', 'Cycling Mountain Bike', 'Trampoline'}

In [139]:
# Examine Name Key
df1_names = df1["Name"].unique()
df2_names = df2["Name"].unique()
intersect = set(df1_names) & set(df2_names)
print("DF2 RATIO IN INTERSECTION")
print(len(intersect) / len(df2_names))

DF2 RATIO IN INTERSECTION
0.2943903991271934

In [140]:
# Missing Examples
print("DF2 MISSING Examples")
df2_diff = list(set(df2_names) - intersect)
print(df2_diff[1:5])

DF2 MISSING Examples
['nikolay avilov', 'otto bengtsson', 'michel thã\x89ato', 'qiuyan huang']

In [141]:
print(df2[df2["Name"] == "nikolay avilov"])
df1_ath = df1[df1["Sport"] == "Athletics"]
#print(df1_ath["Event"].unique())
df1_ath_dec = df1_ath[df1_ath["Event"] == "Athletics Men's Decathlon"]
print()
print(df1_ath_dec[df1_ath_dec["Year"] == 1976].head(1))

     Sex      Sport          Event      City  Year   Medal  Place  \
6971   M  Athletics  Decathlon Men  Montreal  1976  Bronze    3.0
7002   M  Athletics  Decathlon Men    Mexico  1968     NaN    4.0
7620   M  Athletics  Decathlon Men    Munich  1972    Gold    1.0

                Name  NOC Result
6971  nikolay avilov  URS   8369
7002  nikolay avilov  URS   7909
7620  nikolay avilov  URS   8454

         ID                       Name Sex   Age  Height  Weight  \
11199  6123  mykola viktorovych avilov   M  27.0   191.0    89.0

               Team  NOC        Games  Year  Season      City      Sport  \
11199  Soviet Union  URS  1976 Summer  1976  Summer  Montreal  Athletics

                           Event   Medal
11199  Athletics Men's Decathlon  Bronze

In [142]:
print(df2[df2["Name"] == "emil zãtopek"])
#print(df1_ath["Event"].unique())
df1_ath_mar = df1_ath[df1_ath["Event"] == "Athletics Men's Marathon"]
print()
print(df1_ath_mar[(df1_ath_mar["Year"] == 1952) & (df1_ath_mar["Medal"] == "Gold")].head(1))

      Sex      Sport         Event                   City  Year   Medal  \
210     M  Athletics    10000M Men               Helsinki  1952    Gold
499     M  Athletics    10000M Men                 London  1948    Gold
5242    M  Athletics     5000M Men               Helsinki  1952    Gold
5483    M  Athletics     5000M Men                 London  1948  Silver
10817   M  Athletics  Marathon Men               Helsinki  1952    Gold
11806   M  Athletics  Marathon Men  Melbourne / Stockholm  1956     NaN

       Place           Name  NOC     Result
210      1.0  emil zãtopek  TCH    29:17.0
499      1.0  emil zãtopek  TCH    29:59.6
5242     1.0  emil zãtopek  TCH    14:06.6
5483     2.0  emil zãtopek  TCH    14:17.8
10817    1.0  emil zãtopek  TCH  2:23:03.2
11806    6.0  emil zãtopek  TCH    2:29:34

            ID         Name Sex   Age  Height  Weight            Team  NOC  \
268014  134080  emil ztopek   M  29.0   182.0    72.0  Czechoslovakia  TCH

              Games  Year  Season      City      Sport  \
268014  1952 Summer  1952  Summer  Helsinki  Athletics

                           Event Medal
268014  Athletics Men's Marathon  Gold

In [152]:
# Match Examples
df1_temp = df1[["Name","Year","NOC", "Medal", "Sex", "Age", "Height", "Weight"]]
df1_temp = df1_temp.drop_duplicates(keep="first")
df3 = df2.merge(df1_temp, on=["Name","Year","NOC", "Medal", "Sex"])
print(df3.head())

  Sex      Sport       Event City  Year   Medal  Place  \
0   M  Athletics  10000M Men  Rio  2016  Silver    2.0
1   M  Athletics  10000M Men  Rio  2016     NaN    4.0
2   M  Athletics  10000M Men  Rio  2016     NaN    5.0
3   M  Athletics  10000M Men  Rio  2016     NaN    6.0
4   M  Athletics   5000M Men  Rio  2016     NaN    8.0

                      Name  NOC    Result   Age  Height  Weight
0    paul kipngetich tanui  KEN  27:05.64  25.0   168.0    47.0
1          yigrem demelash  ETH  27:06.27  22.0   167.0    48.0
2               galen rupp  USA  27:08.92  30.0   181.0    61.0
3  joshua kiprui cheptegei  UGA  27:10.06  19.0     NaN     NaN
4  joshua kiprui cheptegei  UGA  13:09.17  19.0     NaN     NaN

In [22]:
# Merge Needed Column(s) Age (OPTIONAL: Height, Weight) from DF1 to DF2
# TODO

271116
0